@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.studentItem{
  max-width: 50%;
}



.fullName{
  font-weight: bold;
}

.fullName,.field {
  font-family: 'Raleway', sans-serif;
  list-style-type: none;
}

.toggle{
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
  font-weight: medium;
  color: gray;
  height: 0px;
  background-color: white;
  border:none;
}

