.tags-input{
  border:none;
  border-bottom: 2px solid #dee2e6;
  width: 175px;
  outline: none;
}

.tags-input-container{
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  width: 55%;
}

.tag-item{
  background-color: #dee2e6;
  padding: 0.75em 0.75em;
  border-radius: 10px;
  margin: 3px;
}

.tag-item .close{
  display:inline;
  border-radius: 50%;
  color:white;
  background-color: black;
  height: 20px;
  width: 20px;
  margin-left:.5em ;
  font-size:18px;
}